<!doctype html>
<head>
    </head>
        <title>
            </title>
                <body>
                    <ol>
                        <h>Order list of fruit</h><br>
                    <li>Apple</li>
                        <li>Orange</li>
                        <li>Banana</li>
                    </ol>
                    <ul>
                        <h2>unorder of animals</h2><br>
                    <li>Tiger</li>
                        <li>lion</li>
                        <li>cat</li>
                        <li>dog</li>
                    </ul>
                    </body>